@page "/"

@using CMS.Data
@using CMS.DB
@inject NavigationManager NavigationManager
@inject ContactService ContactService


<h1>Contacts</h1>
<div class="text-right my-3">
    <button class="btn btn-primary " @onclick="addContact">Add Contact</button>
</div>

@if (isLoading) {

    <p> Loading Contacts....</p>

 }
 else
 {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>BirthDate</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            
        </thead>
        <tbody>
            @foreach(var contact in ContactList)
                {
            <tr>
                <td>@contact.LastName</td>
                <td>@contact.FirstName</td>
                <td>@contact.BirthDate.ToShortDateString()</td>
                <td>@contact.PhoneNumber</td>
                <td><a href="/edit/@contact.Id">Edit/View</a></td>

            </tr>
                }
        </tbody>

    </table>
    <div>
        <h3>Sort</h3>
        @foreach (var button in SortedButtons)
        {
            <button class="btn btn-secondary mr-1" @onclick="()=>sortList(button.sortType)">@button.buttonTitle</button> 
           
        }

    </div>

 }






@code{
    List<Buttons> SortedButtons = new List<Buttons>
    {
        new Buttons{buttonTitle = "Last Name", sortType="lastname"},
        new Buttons{buttonTitle = "First Name", sortType="firstname"}

    };

    List<Contact> ContactList;

    Boolean isLoading = true;

    private async void sortList(string type)
    {
        ContactList = await ContactService.GetContacts(type);
    }

    private void addContact()
    {
        NavigationManager.NavigateTo("addcontact");
    }

    protected override async Task OnInitializedAsync()
    {
        ContactList = await ContactService.GetContacts();

        isLoading = false;
    }


    private class Buttons
    {
        public string buttonTitle {get; set; }

        public string sortType { get; set; }

    }



}
